{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>awwards</title>
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" class="w3-circle" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: 'PT Sans Narrow', sans-serif;
            font-size: 20px;
        }
    </style>
    {% endblock %}
</head>

<body class="w3-theme-l5">
    {% block content %}
    {%endblock%}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>